*.bak
bin/
build/
.buildpath
.classpath
.cproject
.DS_Store
.externalToolBuilders/
.gradle/
/gradle-app.setting
*.launch
.loadpath
local.properties
.metadata
*~.nib
.project
*.pydevproject
.settings/
*.swp
.target
.texlipse
/tmp/
*.tmp
war/
war.old/
replay_pid*.log
hs_err_pid*.log
/doc/
